.webdev-header{color: red;
    background-color: blue;

}
.aueb-header{
    color: blue;
    background-color: yellow;
}

.webdev-text{
    color:white;
    background-color: black;
    font-style:italic;
}


